<%= datagrid_form_for @grid, :method => :get, :url => players_path %>
<%= paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= paginate(@grid.assets) %>
<a href="/players.csv?<%= params.permit!.to_query %>">Export current view </a>
